<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View city</title>
</head>
<style>
    * {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
    form {
        position: relative;
        /*left: 40%;*/
        /*!*top: 200px;*!*/
    }
</style>
<body>
<h1>Detail</h1>
<p>
    <a href="/cities">City list</a>
</p>
<form th:action="@{/cities/view}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td style="font-weight: bold">Name:</td>
            <td th:text="${city.getName()}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Nation:</td>
            <td th:text="${city.getNation().getName()}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Area:</td>
            <td th:text="${city.getArea()}"></td>
        </tr><tr>
            <td style="font-weight: bold">Population:</td>
            <td th:text="${city.getPopulation()}"></td>
        </tr><tr>
            <td style="font-weight: bold">GDP:</td>
            <td th:text="${city.getGdp()}"></td>
        </tr><tr>
            <td style="font-weight: bold">Description:</td>
            <td th:text="${city.getDescription()}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit"></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
<br>
<br>
<footer>&copy; 2019 Dao Van Dat</footer>
</body>
</html>